.our {

  &__list {
    justify-content: space-between;
    display: flex
  }

  &__container {
    max-width: 1111px;
    margin: 0 auto;
    background-image: url('../img/our-bg.png');
    background-repeat: no-repeat
  }

  &__title {
    @include title;
  }

  &__list {
    padding-top: 126px;
    margin-bottom: 200px
  }

  &__img-block {
    max-width: 255px;
    margin-bottom: 71px
  }

  &_item {
    text-align: center;
    max-width: 255px
  }

  &__title {
    max-width: 255px;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 24px
  }

  &__text {
    max-width: 255px;
    @include text($text-color);
    color: #333d4b
  }

}